.wrap {
    width: 100vw;
    background-color: #D56A3E;
    display: flex;
    .single {
        flex-shrink: 0;
        min-height: 100px;
    }
}

@media screen and (min-width :812px) {
    .layout {
        flex-direction: row;
        padding: 50px;
        min-height: 100vh;
    }
    .leftWidth {
        width:25%;
    }
    .centerWidth {
        width:50%;
    }
    .rightWidth {
        width:25%;
    }
}

@media screen and (max-width :812px) {
    .layout {
        flex-direction: column;
        padding: 30px 20px;
    }
    .leftWidth {
        width:100%
    }
    .centerWidth {
        width:100%
    }
    .rightWidth {
        width:100%
    }
}
