.more_wrap {
    width: 100vw;
    min-height: 100vh;
    background-color: #8cc269;
    display: flex;
    .layout {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width :812px) {
    .layout {
        padding: 50px;
    }
}

@media screen and (max-width :812px) {
    .layout {
        padding: 30px 20px;
    }
}
